@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link scrollto" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link scrollto" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link scrollto" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
